$inputColor: #1a73e8;
$minHeight: 500px;
$minWidth: 500px;
$maxHeight: 100%;
// $shadow: 0 3px 2px rgba(0, 0, 0, .3);
$shadow: none;
// 主色调 #e7503f
$rrcolor: #e7503f;

.TextEditor {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    width: 90%;
    margin: 20px auto;
    height: 100%;
    min-width: 900px;
    box-sizing: border-box;

    // 清除浮动
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    .titleEditor {
        input.title {
            display: block;
            border: none;
            outline: none;
            width: 100%;
            border: 0;
            font-size: 32px;
            line-height: 60px;
            font-weight: 600;
            font-synthesis: style;
            color: #1a1a1a;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        ::-webkit-input-placeholder {
            color: #999;
        }

        :-moz-placeholder {
            /* Firefox 18- */
            color: #999;
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            color: #999;
        }

        :-ms-input-placeholder {
            color: #999;
        }
    }

    .textareaWrap {
        float: left;
        width: 48%;
        min-height: $minHeight;
        // height: 100%;
        position: relative;
        flex-direction: column;
        margin-right: 1%;
        box-sizing: border-box;
        box-shadow: $shadow;
        border-top: 1px solid #f0f0f0;
        font: 16px;

        .placeholder {
            z-index: -1;
            font-size: 16px;
            line-height: 1.6;
            color: #999;
            position: absolute;
            left: 0px;
            top: 30px;

            &.hide {
                display: none;
            }
        }

        .textarea {
            line-height: 1.6;
            // min-width: $minWidth;
            min-height: $minHeight;
            // max-height: $maxHeight;
            padding: 30px 0px 20px 0px;
            // outline-color: $rrcolor;
            outline: none;
            color: #202124;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            // 更改光标颜色
            caret-color: $rrcolor;

            // caret-color: #5729e9;
            &:focus {
                border-top: 1px solid $rrcolor;
                padding-top: 29px;
            }

            // 限制输入纯文本, 只有webkit支持
            -webkit-user-modify: read-write-plaintext-only;
        }

        .App-btn {
            position: absolute;
            right: 0;
            top: 0;
            // box-shadow: 0 3px 5px #333;
            border-radius: 0 0 0 5px;

            // 删除和发布按钮
            input {
                font-size: 16px;
                color: #fff;
                width: 100px;
                height: 30px;
                line-height: 30px;
                border: none;
                outline: none;
                transition: all 0.3s ease;

            }

            .submit {
                border-radius: 0 0 0 5px;
                background-color: $inputColor;

                &:active {
                    background-color: #2c61a7;
                }
            }

            .clear {
                // border-radius: 0 5px 0 0;
                background-color: #838383;
                transition: all 0.3s ease;

                &:active {
                    background-color: #555555;
                }
            }



            i {
                font-size: 20px;
                line-height: 30px;
                cursor: pointer;
            }
        }


    }

    .TextEditor-tip {
        height: 0;
        font-size: 14px;
        line-height: 32px;
        display: block;
        transition: all 0.3s ease;

        overflow: hidden;
        color: $rrcolor;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease;

        &.show {
            height: 32px;
        }
    }

    .postTip {
        position: absolute;
        left: 50%;
        top: -500px;
        margin-left: -150px;
        width: 300px;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 3px #07070770;
        border-radius: 3px;
        transition: all .5s ease;
        &.success {
            color: #1a73e8;
            top: 40%;
        }

        &.failed {
            color: red;
            top: 30%;
        }
    }

    .preview {
        float: left;
        box-sizing: border-box;
        width: 48%;
        // min-width: $minWidth;
        min-height: $minHeight;
        // max-height: $maxHeight;
        // overflow-x: auto;
        word-wrap: break-word;
        padding: 30px 0 20px;
        margin-left: 1%;
        transition: all 0.3s ease;
        border-top: 1px solid $rrcolor;
        background-color: #fff;
        box-shadow: $shadow;
        opacity: 1;
        position: relative;

        &.empty {
            background-color: #DCE2F1;
            border-top: 1px solid #f0f0f0;
            // opacity: 0.3;
            &::after {
                opacity: 1;
                left: 50%;
                top: 50%;
                opacity: 0.5;
            }
        }

        &::after {
            width: 200px;
            height: 160px;
            content: '预览';
            font-size: 100px;
            position: absolute;
            left: 50%;
            top: -500px;
            margin-left: -100px;
            margin-top: -80px;
        }
    }

    @media screen and (max-width: 900px) {
        .textareaWrap,
        .preview {
            // width: 100%;
            // margin: 0;
            box-shadow: none;
        }
    }

    @media screen and (max-width: 600px) {
        .textareaWrap,
        .preview {
            width: 100%;
            float: none;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0 auto;
            .App-btn {
                right: 10px;
            }
            .placeholder {
                left: 10px;
            }
        }
      
        .titleEditor {
            padding: 0 10px;
        }

        & {
            overflow: hidden;
            width: 100%;
            min-width: 400px;
            margin: 0;
        }
    }
}