$inputColor: #1a73e8;
$minHeight: 500px;
$minWidth: 500px;
$maxHeight: 100%;
//文章最大宽度
$maxWidth: 690px;
// 预览和输入框之间的间隙
$marginW: 25px;
$top: 40px;
// $shadow: 0 3px 2px rgba(0, 0, 0, .3);
$shadow: none;
// 主色调 #e7503f
$rrcolor: #e7503f;

.TextEditor {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    width: 90%;
    max-width: $maxWidth * 2 + 50px;
    margin: 20px auto;
    // height: 100%;
    // min-width: 900px;
    box-sizing: border-box;

    // 清除浮动
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    .titleEditor {
        input.title {
            display: block;
            border: none;
            outline: none;
            width: 100%;
            border: 0;
            font-size: 32px;
            line-height: 60px;
            font-weight: 600;
            font-synthesis: style;
            color: #1a1a1a;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        ::-webkit-input-placeholder {
            color: #999;
        }

        :-moz-placeholder {
            /* Firefox 18- */
            color: #999;
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            color: #999;
        }

        :-ms-input-placeholder {
            color: #999;
        }
    }

    .textareaWrap {
        float: left;
        width: 48%;
        max-width: $maxWidth;
        min-height: $minHeight;
        position: relative;
        flex-direction: column;
        margin-right: $marginW;
        box-sizing: border-box;
        box-shadow: $shadow;
        border-top: 1px solid #f0f0f0;
        font: 16px;

        .placeholder {
            z-index: -1;
            font-size: 16px;
            line-height: 1.6;
            color: #999;
            position: absolute;
            left: 0px;
            top: $top;

            &.hide {
                display: none;
            }
        }

        .textarea {
            min-height: $minHeight;
            line-height: 1.6;
            padding: $top 0px 20px 0px;
            // outline-color: $rrcolor;
            outline: none;
            color: #202124;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            // 更改光标颜色
            caret-color: $rrcolor;

            // caret-color: #5729e9;
            &:focus {
                border-top: 1px solid $rrcolor;
                padding-top: $top - 1;
            }

            // 限制输入纯文本, 只有webkit支持
            -webkit-user-modify: read-write-plaintext-only;
        }

        .App-btn {
            position: absolute;
            right: 0;
            top: 0;
            // box-shadow: 0 3px 5px #333;
            border-radius: 0 0 0 5px;

            // 删除和发布按钮
            input {
                font-size: 16px;
                color: #fff;
                width: 100px;
                height: 30px;
                line-height: 30px;
                border: none;
                outline: none;
                transition: all 0.3s ease;

            }

            .submit {
                border-radius: 0 0 0 5px;
                background-color: $inputColor;

                &:active {
                    background-color: #2c61a7;
                }
            }

            .clear {
                // border-radius: 0 5px 0 0;
                background-color: #838383;
                transition: all 0.3s ease;

                &:active {
                    background-color: #555555;
                }
            }

            i {
                font-size: 20px;
                line-height: 30px;
                cursor: pointer;
            }
        }


    }

    .TextEditor-tip {
        height: 0;
        font-size: 14px;
        line-height: 32px;
        display: block;
        transition: all 0.3s ease;

        overflow: hidden;
        color: $rrcolor;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease;

        &.show {
            height: 32px;
        }
    }

    .postTip {
        position: absolute;
        left: 50%;
        top: -500px;
        margin-left: -150px;
        width: 300px;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 3px #07070770;
        border-radius: 3px;
        transition: all .5s ease;

        &.success {
            color: #1a73e8;
            top: 5px;
        }

        &.failed {
            color: red;
            top: 5px;
        }
    }

    .preview {
        float: left;
        box-sizing: border-box;
        width: 48%;
        max-width: $maxWidth;
        // min-width: $minWidth;
        min-height: $minHeight;
        // max-height: $maxHeight;
        // overflow-x: auto;
        word-wrap: break-word;
        padding: $top 0 20px;
        margin-left: $marginW;
        transition: all 0.3s ease;
        border-top: 1px solid $rrcolor;
        background-color: #fff;
        box-shadow: $shadow;
        opacity: 1;
        position: relative;

        &.empty {
            background-color: #DCE2F1;
            border-top: 1px solid #f0f0f0;

            // opacity: 0.3;
            &::after {
                content: '预 览';
                position: absolute;
                width: 232px;
                height: 160px;
                opacity: 1;
                left: 50%;
                top: 50%;
                margin-left: -116px;
                margin-top: -80px;
                font-size: 70px;
                text-align: center;
                color: #999;
                transition: all .3s ease;
            }
        }

        &::after {
            content: '预 览';
            position: absolute;
            width: 100%;
            height: 16px;
            left: 0;
            top: 0;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            color: $rrcolor;
            transition: all .3s ease;
        }
    }
    // 宽度 48% * 2, 最大宽度 690 * 2, 在 48% * 2宽度大于 690 * 2 的时候, margin使用固定宽度, 小于的时候使用百分比, 否者无法居中
    @media screen and (max-width: 1405px) {
        .textareaWrap {
            margin-right: 2%;
        }
        .preview {
            margin-left: 2%;
        }
        & {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 900px) {
        .textareaWrap,
        .preview {
            margin: 0 auto;
            width: 100%;
            float: none;
            min-height: 400px;

            .textarea {
                min-height: 400px;
            }
        }
    }

    @media screen and (max-width: 600px) {

        .textareaWrap,
        .preview {
            width: 100%;
            min-height: 350px;

            .textarea {
                min-height: 350px;
            }
        }

        .titleEditor {

            input.title {
                font-size: 25px;
            }
        }

        & {
            overflow: hidden;
            min-width: 400px;
        }
    }
}